<body>
  <div id="preloader"><%= render 'elements/preloader' %></div>
  <div id="home"><%= render 'elements/home' %></div>
  <div id="about-me"><%= render 'elements/about-me' %></div>
  <div id="projects"><%=render 'elements/projects' %></div>
  <div id="contact"><%=render 'elements/contact' %></div>
</body>
